body {
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    max-width: 1400px;
    background-color:#151618;
}

th {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

td {
    padding: 20px;
    text-align: center;
    vertical-align: top;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

img {
    width: 100%;
    max-width: 180px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.05);
}

.confirmation {
    transition: opacity ease-out 0.1s;
    background-color: #595959;
    color: #ffffff;
    font-weight: bold;
    position: fixed;
    padding: 5px 10px;
    border-radius: 5px;
    top: 200px;
    opacity: 0;
    visibility: hidden;
    font-size: 1rem;
}

#color-picker {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.color-option {
    transition: width 0.1s;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: 2px solid transparent;
}

.color-option input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.color-option:has(input[type="radio"]:checked) {
    width: 80px;
}

.color-option.white:has(input[type="radio"]:checked) {
    box-shadow: 0 0 0 1.5px #282829;
}

.color-option.black { background-color: #282829; box-shadow: 0 0 0 1px #ffffff44;}
.color-option.white { background-color: #fff;}
.color-option.red { background-color: #E7000B;}
.color-option.orange { background-color: #FE9A00;}
.color-option.yellow { background-color: #FFE54B;}
.color-option.green { background-color: #00D492;}
.color-option.blue { background-color: #2563EB;}
.color-option.purple { background-color: #CB81E4;}
.color-option.pink { background-color: #F2A0AE;}
.color-option.none { border: 2.5px solid #8A0000;}